*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: "Roboto", sans-serif;
}

a{
    text-decoration: none;
    color: #fff;
}

section{
    padding: 10rem 0;
    background-color: white;
}
.heading{
    text-transform: uppercase;
    font-size: 3.5rem;
    letter-spacing: 3px;
    margin-right: -3px;
    margin-bottom: 5rem;
    text-align: center;
    color: #333;
    position: relative;
}

.heading::after{
    content: "";
    width: 10rem;
    height: .8rem;
    background-color: #8eede0;
    position: absolute;
    bottom: -2rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2rem;

}
.card-wrapper{
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    margin-top: 40px;
}

.card{
    width: 32rem;
    background-color: #8eede0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
    box-shadow: .5rem .5rem 3rem rgba(0,0,0,0,2);

}
.card .card-img{
    height: 22rem;
    width: 100%;
    object-fit: cover;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 61%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 61%, 0% 100%);
}
.profile-img{
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    border-radius: 50%;
    margin-top: -11rem;
    z-index: 999;
    border: 1rem solid #00d2b5;

}

.card h1{
    font-size: 2.5rem;
    color: #333;
    margin: 1.5rem 0;
}
.job-title{
    color: #777;
    font-size:1.5rem;
    font-weight: 300;

}

.about{
    font-size: 1.5rem;
    margin: 1.5rem 0;
    text-align: center;
    color: #333;

}

.card .btn{
    padding: 1rem;
    background-color: #00d2b5;
    border-radius: 2rem;
    margin: 1rem 0;
    text-transform: uppercase;
    color: #eee;
    font-size: 1.4rem;
    transition: all .5s;
}

.card .btn:hover{
    transform: translateY(-2px);
    box-shadow: .5rem .5rem rgba(0,0,0,0,2);
}


.card .btn:active{
    transform: translateY(0);
    box-shadow: none;
}

.social-media{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding: 1em 0;
    margin-top: 1.5rem;
    border-top: 1.5rem;
    border-top: 1px solid rgba(0,0,0,.1);
}

.social-media{
    font-size: 3rem;
    transition: color .5s;
}

.fa-facebook-square{
    color: blue;
}
.fa-telegram{
    color:#00ACEE;

}
.fa-linkedin-square{
    color: #0E76A8;

}
.fa-whatsapp  {
    color:#fff;
    background:
    linear-gradient(#25d366,#25d366)10px 84%/10px 15px no-repeat,
    radial-gradient(#25d366 60%,transparent 0);
  }


.fa-facebook-square:hover,
.fa-telegram:hover,
.fa-linkedin-square:hover,
.fa-whatsapp:hover{
    color: #45e19f;
}

@media screen and (min-width:700px){
    .card-wrapper{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .card{
        margin: 7rem;
        transition: opacity .5s;
    }
    @keyframes fadeIn {
        from{
            opacity: 0;
        }
        to{
            opacity: 1;
        }
    }

        .card:nth-child(1){
            animation: fadeIn  .5s .5s backwards;
        }
        .card:nth-child(2){
            animation: fadeIn  .5s 1s backwards;
        }
        .card:nth-child(3){
            animation: fadeIn  .5s 1.5s backwards;
        }
        .card:nth-child(4){
            animation: fadeIn  .5s 2s backwards;
        }
        .card:nth-child(5){
            animation: fadeIn  .5s 2.5s backwards;
        }
        .card:nth-child(6){
            animation: fadeIn  .5s 3s backwards;
        }
        .card:nth-child(7){
            animation: fadeIn  .5s 3.5s backwards;
        }
        .card:nth-child(8){
            animation: fadeIn  .5s 4s backwards;
        }
        .card:nth-child(9){
            animation: fadeIn  .5s 4.5s backwards;
        }
        .card:nth-child(10){
            animation: fadeIn  .5s 5s backwards;
        }
        .car:hover{
            transform: scale(1.05) ;
        }

}

.btn {
    font-size: 16px;
    border-radius: 30px;
    padding: 10px 30px; }
    .btn:hover, .btn:active, .btn:focus {
      outline: none;
      -webkit-box-shadow: none !important;
      box-shadow: none !important; }
    .btn.btn-primary {
      border-width: 2px;
      background: #00d2b5;
      border-color: #00d2b5;
      color: #fff;
      -webkit-box-shadow: 0 4px 20px -5px rgba(0, 210, 181, 0.4);
      box-shadow: 0 4px 20px -5px rgba(0, 210, 181, 0.4); }
      .btn.btn-primary:hover {
        background: transparent;
        border-color: #00d2b5;
        color: #000; }

.btn-info{
    border-radius: 10px;
    background: #00d2b5;
    float: right;
    margin-right: 160px;
    color: #fff;
    border-color: #00d2b5;
}        

.text-block {
    position: absolute;
    top: 8px;
    right: 16px;
    color: black;
   
  }

  /* .text-block{
      color: black;
      
  } */

  .textoverimg{
    position: relative;
    text-align: center;
    color: white;
  }