 <section>
        <div class="container">
            
            <h1 class="heading">SPS Alumni</h1>
            <button type="button" class="btn btn-info">+ New Candidate</button>
            <br><br>
            <div class="card-wrapper">

               
            
                <div class="card">
            <div class="textoverimg">  
                <img src="../images/spss.jpg" alt="card background" class="card-img">
                <div class="text-block">
                    <i class="fa fa-edit" style="font-size: 2em;padding-right: 9px;"></i>
                    
                    <i class="fa fa-trash"  style="font-size: 2em;"></i>
                </div>
            </div> 

               
                
                <img src="../images/avatar-01.jpg" alt="profile image" class="profile-img">
                <h1>roshan cp</h1>
                <p class="job title">sps holder</p>
                <p class="about">Name : Roshan.cp<br>
                    place : chemmad<br>
                    Gender : male <br>
                    email : qwerty@gmail.com</p>
                <a href="Resume-CV-Design-N19-master/index.html" class="btn">more info</a>
                <ul class="social-media">
                    <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                    <li><a href="#"><i class="fa fa-telegram"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                    <li><a href="https://api.whatsapp.com/send?phone=91"><i class="fa fa-whatsapp"></i></a></li>
                </ul>
              </div>

             
            

             <div class="card">
                <div class="textoverimg">  
                    <img src="../images/spsr.jpg" alt="card background" class="card-img">
                    <div class="text-block">
                        <i class="fa fa-edit" style="font-size: 2em;padding-right: 9px;"></i>
                        
                        <i class="fa fa-trash"  style="font-size: 2em;"></i>
                    </div>
                </div> 
    

                <img src="../images/avatar-01.jpg" alt="profile image" class="profile-img">
                <h1>roshan cp</h1>
                <p class="job title">sps holder</p>
                <p class="about">Name : Roshan.cp<br>
                    place : chemmad<br>
                    Gender : male <br>
                    email : qwerty@gmail.com</p>
                <a href="Resume-CV-Design-N19-master/index.html" class="btn">more info</a>
                <ul class="social-media">
                    <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                    <li><a href="#"><i class="fa fa-telegram"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                     <li><a href="https://api.whatsapp.com/send?phone=91"><i class="fa fa-whatsapp"></i></a></li>
                </ul>
             </div>

             <div class="card">
                <div class="textoverimg">  
                    <img src="../images/spsr.jpg" alt="card background" class="card-img">
                    <div class="text-block">
                        <i class="fa fa-edit" style="font-size: 2em;padding-right: 9px;"></i>
                        
                        <i class="fa fa-trash"  style="font-size: 2em;"></i>
                    </div>
                </div> 
    
               
                
                <img src="../images/avatar-02.jpg" alt="profile image" class="profile-img">
                <h1>roshan cp</h1>
                <p class="job title">sps holder</p>
                <p class="about">Name : Roshan.cp<br>
                    place : chemmad<br>
                    Gender : male <br>
                    email : qwerty@gmail.com
                </p>
                <a href="Resume-CV-Design-N19-master/index.html" class="btn">more info</a>
                <ul class="social-media">
                    <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                    <li><a href="#"><i class="fa fa-telegram"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                     <li><a href="https://api.whatsapp.com/send?phone=91"><i class="fa fa-whatsapp"></i></a></li>
                </ul>
             </div>

             <div class="card">
               
                <div class="textoverimg">  
                    <img src="../images/spsr.jpg" alt="card background" class="card-img">
                    <div class="text-block">
                        <i class="fa fa-edit" style="font-size: 2em;padding-right: 9px;"></i>
                        
                        <i class="fa fa-trash"  style="font-size: 2em;"></i>
                    </div>
                </div> 
    
                <img src="../images/avatar-03.jpg" alt="profile image" class="profile-img">
                <h1>roshan cp</h1>
                <p class="job title">sps holder</p>
                <p class="about">Name : Roshan.cp<br>
                    place : chemmad<br>
                    Gender : male <br>
                    email : qwerty@gmail.com</p>
                    <a href="Resume-CV-Design-N19-master/index.html" class="btn">more info</a>
                <ul class="social-media">
                    <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                    <li><a href="#"><i class="fa fa-telegram"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                    <li><a href="https://api.whatsapp.com/send?phone=91"><i class="fa fa-whatsapp"></i></a></li>
                </ul>
             
            </div>
            <div class="card">
               
                <div class="textoverimg">  
                    <img src="../images/spsr.jpg" alt="card background" class="card-img">
                    <div class="text-block">
                        <i class="fa fa-edit" style="font-size: 2em;padding-right: 9px;"></i>
                        
                        <i class="fa fa-trash"  style="font-size: 2em;"></i>
                    </div>
                </div> 
    
                <img src="../images/avatar-04.jpg" alt="profile image" class="profile-img">
                <h1>roshan cp</h1>
                <p class="job title">sps holder</p>
                <p class="about">Name : Roshan.cp<br>
                    place : chemmad<br>
                    Gender : male <br>
                    email : qwerty@gmail.com</p>
                    <a href="Resume-CV-Design-N19-master/index.html" class="btn">more info</a>
                <ul class="social-media">
                    <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                    <li><a href="#"><i class="fa fa-telegram"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                    <li><a href="https://api.whatsapp.com/send?phone=91"><i class="fa fa-whatsapp"></i></a></li>
                </ul>
             </div>
             <div class="card">
                
                <div class="textoverimg">  
                    <img src="../images/spsr.jpg" alt="card background" class="card-img">
                    <div class="text-block">
                        <i class="fa fa-edit" style="font-size: 2em;padding-right: 9px;"></i>
                        
                        <i class="fa fa-trash"  style="font-size: 2em;"></i>
                    </div>
                </div> 
    
                <img src="../images/avatar-05.jpg" alt="profile image" class="profile-img">
                <h1>roshan cp</h1>
                <p class="job title">sps holder</p>
                <p class="about">Name : Roshan.cp<br>
                    place : chemmad<br>
                    Gender : male <br>
                    email : qwerty@gmail.com</p>
                    <a href="Resume-CV-Design-N19-master/index.html" class="btn">more info</a>
                <ul class="social-media">
                    <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                    <li><a href="#"><i class="fa fa-telegram"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                     <li><a href="https://api.whatsapp.com/send?phone=91"><i class="fa fa-whatsapp"></i></a></li>
                </ul>
             </div>
             <div class="card">
                
                <div class="textoverimg">  
                    <img src="../images/spsr.jpg" alt="card background" class="card-img">
                    <div class="text-block">
                        <i class="fa fa-edit" style="font-size: 2em;padding-right: 9px;"></i>
                        
                        <i class="fa fa-trash"  style="font-size: 2em;"></i>
                    </div>
                </div> 
    
                <img src="../images/avatar-06.jpg" alt="profile image" class="profile-img">
                <h1>roshan cp</h1>
                <p class="job title">sps holder</p>
                <p class="about">Name : Roshan.cp<br>
                    place : chemmad<br>
                    Gender : male <br>
                    email : qwerty@gmail.com</p>
                    <a href="Resume-CV-Design-N19-master/index.html" class="btn">more info</a>
                <ul class="social-media">
                    <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                    <li><a href="#"><i class="fa fa-telegram"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                    <li><a href="https://api.whatsapp.com/send?phone=91"><i class="fa fa-whatsapp"></i></a></li>
                </ul>
             </div>
             <div class="card">
               
                <div class="textoverimg">  
                    <img src="../images/spsr.jpg" alt="card background" class="card-img">
                    <div class="text-block">
                        <i class="fa fa-edit" style="font-size: 2em;padding-right: 9px;"></i>
                        
                        <i class="fa fa-trash"  style="font-size: 2em;"></i>
                    </div>
                </div> 
    
                <img src="../images/avatar-big-01.jpg" alt="profile image" class="profile-img">
                <h1>roshan cp</h1>
                <p class="job title">sps holder</p>
                <p class="about">Name : Roshan.cp<br>
                    place : chemmad<br>
                    Gender : male <br>
                    email : qwerty@gmail.com</p>
                    <a href="Resume-CV-Design-N19-master/index.html" class="btn">more info</a>
                <ul class="social-media">
                    <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                    <li><a href="#"><i class="fa fa-telegram"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                    <li><a href="https://api.whatsapp.com/send?phone=91"><i class="fa fa-whatsapp"></i></a></li>
                </ul>
             </div>
             <div class="card">
               
                <div class="textoverimg">  
                    <img src="../images/spsr.jpg" alt="card background" class="card-img">
                    <div class="text-block">
                        <i class="fa fa-edit" style="font-size: 2em;padding-right: 9px;"></i>
                        
                        <i class="fa fa-trash"  style="font-size: 2em;"></i>
                    </div>
                </div> 
    
                <img src="../images/avatar-04.jpg" alt="profile image" class="profile-img">
                <h1>roshan cp</h1>
                <p class="job title">sps holder</p>
                <p class="about">Name : Roshan.cp<br>
                    place : chemmad<br>
                    Gender : male <br>
                    email : qwerty@gmail.com</p>
                    <a href="Resume-CV-Design-N19-master/index.html" class="btn">more info</a>
                <ul class="social-media">
                    <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                    <li><a href="#"><i class="fa fa-telegram"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                    <li><a href="https://api.whatsapp.com/send?phone=91"><i class="fa fa-whatsapp"></i></a></li>
                </ul>
             </div>

             
             
            </div>
        </div>
    </section>