<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>

  {{!-- boostrap link --}}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

     <!-- ElegantFonts CSS -->
    <link rel="stylesheet" href="../stylesheets/elegant-fonts.css">

    <!-- themify-icons CSS -->
    <link rel="stylesheet" href="../stylesheets/themify-icons.css">

    {{!-- font awseome --}}
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

   <!-- Swiper CSS -->
    <link rel="stylesheet" href="../stylesheets/swiper.min.css">

   {{!-- form scripte --}}


   
   {{!-- style --}}
    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>
  <body>
    <header>

    <nav class="navbar navbar-expand-md ">
        <div class="container-fluid">
          <a class="navbar-brand" href="#" style="font-size: 20px; color:white">
            sps .
            </a>

            
          <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon "></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
            
              
              <li class="nav-item dropdown" style="font-size: 16px; ">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white;"> 
               Admin
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown3" style="font-size:medium; float: left;">
                  <a class="dropdown-item" href="/login">Login</a>
                 
                </div>
              </li>
             
            </ul>
          </div>
        </div>
      </nav>

    



    
 </header>
    <!-- navbar end -->
    


    {{{body}}}

    {{!-- jqery link --}}
<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>

     {{!-- swiper js --}}
<script type='text/javascript' src='../javascripts/swiper.min.js'></script>

<script type='text/javascript' src='../javascripts/masonry.pkgd.min.js'></script>

<script type='text/javascript' src='../javascripts/jquery.collapsible.min.js'></script>

<script type='text/javascript' src='../javascripts/custom.js'></script>

  </body>
</html>
