{{!-- main page --}}





{{!-- card display --}}


<section>


    <div class="container">
        <h1 class="heading">SPS Alumni</h1>

        <!-- <div class="card" style="width: 40rem;height: 13rem;margin-left: 260px">
           <div class="card-body">
             <h5 class="card-title">Special title treatment</h5>
             <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
           </div>
         </div>

         <div class="card" style="width: 40rem;height: 13rem;margin-left: 260px">
           <div class="card-body">
             <h5 class="card-title">Special title treatment</h5>
             <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
           </div>
         </div> -->

        {{# each userss }}
            ajmalcp1234
        {{/each}}


        <div class="card-wrapper">

            <div class="card">
                <img src="../images/spss.jpg" alt="card background" class="card-img">
                <img src="../images/avatar-01.jpg" alt="profile image" class="profile-img">
                <h1>roshan cp</h1>
                <p class="job title">sps holder</p>
                <p class="about">Name : Roshan.cp<br>
                    place : chemmad<br>
                    Gender : male <br>
                    email : qwerty@gmail.com</p>
                <a href="Resume-CV-Design-N19-master/index.html" class="btn">more info</a>
                <ul class="social-media">
                    <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                    <li><a href="#"><i class="fa fa-telegram"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                    <li><a href="https://api.whatsapp.com/send?phone=91"><i class="fa fa-whatsapp"></i></a></li>
                </ul>
            </div>


            <div class="card">
                <img src="../images/spss.jpg" alt="card background" class="card-img">
                <img src="../images/avatar-05.jpg" alt="profile image" class="profile-img">
                <h1>roshan cp</h1>
                <p class="job title">sps holder</p>
                <p class="about">Name : Roshan.cp<br>
                    place : chemmad<br>
                    Gender : male <br>
                    email : qwerty@gmail.com</p>
                <a href="Resume-CV-Design-N19-master/index.html" class="btn">more info</a>
                <ul class="social-media">
                    <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                    <li><a href="#"><i class="fa fa-telegram"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                    <li><a href="https://api.whatsapp.com/send?phone=91"><i class="fa fa-whatsapp"></i></a></li>
                </ul>
            </div>

            <div class="card">
                <img src="../images/spss.jpg" alt="card background" class="card-img">
                <img src="../images/avatar-02.jpg" alt="profile image" class="profile-img">
                <h1>roshan cp</h1>
                <p class="job title">sps holder</p>
                <p class="about">Name : Roshan.cp<br>
                    place : chemmad<br>
                    Gender : male <br>
                    email : qwerty@gmail.com
                </p>
                <a href="Resume-CV-Design-N19-master/index.html" class="btn">more info</a>
                <ul class="social-media">
                    <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                    <li><a href="#"><i class="fa fa-telegram"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                    <li><a href="https://api.whatsapp.com/send?phone=91"><i class="fa fa-whatsapp"></i></a></li>
                </ul>
            </div>



            <!-- 1st row completed -->

            <div class="card">
                <img src="../images/spss.jpg" alt="card background" class="card-img">
                <img src="../images/avatar-03.jpg" alt="profile image" class="profile-img">
                <h1>roshan cp</h1>
                <p class="job title">sps holder</p>
                <p class="about">Name : Roshan.cp<br>
                    place : chemmad<br>
                    Gender : male <br>
                    email : qwerty@gmail.com</p>
                <a href="Resume-CV-Design-N19-master/index.html" class="btn">more info</a>
                <ul class="social-media">
                    <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                    <li><a href="#"><i class="fa fa-telegram"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                    <li><a href="https://api.whatsapp.com/send?phone=91"><i class="fa fa-whatsapp"></i></a></li>
                </ul>

            </div>
            <div class="card">
                <img src="../images/spss.jpg" alt="card background" class="card-img">
                <img src="../images/avatar-04.jpg" alt="profile image" class="profile-img">
                <h1>roshan cp</h1>
                <p class="job title">sps holder</p>
                <p class="about">Name : Roshan.cp<br>
                    place : chemmad<br>
                    Gender : male <br>
                    email : qwerty@gmail.com</p>
                <a href="Resume-CV-Design-N19-master/index.html" class="btn">more info</a>
                <ul class="social-media">
                    <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                    <li><a href="#"><i class="fa fa-telegram"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                    <li><a href="https://api.whatsapp.com/send?phone=91"><i class="fa fa-whatsapp"></i></a></li>
                </ul>
            </div>
            <div class="card">
                <img src="../images/spss.jpg" alt="card background" class="card-img">
                <img src="../images/avatar-05.jpg" alt="profile image" class="profile-img">
                <h1>roshan cp</h1>
                <p class="job title">sps holder</p>
                <p class="about">Name : Roshan.cp<br>
                    place : chemmad<br>
                    Gender : male <br>
                    email : qwerty@gmail.com</p>
                <a href="Resume-CV-Design-N19-master/index.html" class="btn">more info</a>
                <ul class="social-media">
                    <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                    <li><a href="#"><i class="fa fa-telegram"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                    <li><a href="https://api.whatsapp.com/send?phone=91"><i class="fa fa-whatsapp"></i></a></li>
                </ul>
            </div>
            <div class="card">
                <img src="../images/spss.jpg" alt="card background" class="card-img">
                <img src="../images/avatar-06.jpg" alt="profile image" class="profile-img">
                <h1>roshan cp</h1>
                <p class="job title">sps holder</p>
                <p class="about">Name : Roshan.cp<br>
                    place : chemmad<br>
                    Gender : male <br>
                    email : qwerty@gmail.com</p>
                <a href="Resume-CV-Design-N19-master/index.html" class="btn">more info</a>
                <ul class="social-media">
                    <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                    <li><a href="#"><i class="fa fa-telegram"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                    <li><a href="https://api.whatsapp.com/send?phone=91"><i class="fa fa-whatsapp"></i></a></li>
                </ul>
            </div>
            <div class="card">
                <img src="../images/spss.jpg" alt="card background" class="card-img">
                <img src="../images/avatar-big-01.jpg" alt="profile image" class="profile-img">
                <h1>roshan cp</h1>
                <p class="job title">sps holder</p>
                <p class="about">Name : Roshan.cp<br>
                    place : chemmad<br>
                    Gender : male <br>
                    email : qwerty@gmail.com</p>
                <a href="Resume-CV-Design-N19-master/index.html" class="btn">more info</a>
                <ul class="social-media">
                    <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                    <li><a href="#"><i class="fa fa-telegram"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                    <li><a href="https://api.whatsapp.com/send?phone=91"><i class="fa fa-whatsapp"></i></a></li>
                </ul>
            </div>
            <div class="card">
                <img src="../images/spss.jpg" alt="card background" class="card-img">
                <img src="../images/avatar-04.jpg" alt="profile image" class="profile-img">
                <h1>roshan cp</h1>
                <p class="job title">sps holder</p>
                <p class="about">Name : Roshan.cp<br>
                    place : chemmad<br>
                    Gender : male <br>
                    email : qwerty@gmail.com</p>
                <a href="Resume-CV-Design-N19-master/index.html" class="btn">more info</a>
                <ul class="social-media">
                    <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                    <li><a href="#"><i class="fa fa-telegram"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                    <li><a href="https://api.whatsapp.com/send?phone=91"><i class="fa fa-whatsapp"></i></a></li>
                </ul>
            </div>


        </div>
    </div>
</section>