html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video {
	border:0;
	font:inherit;
	font-size:100%;
	margin:0;
	padding:0;
	vertical-align:baseline;
	}
	
	article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	display:block;
	}
	
	html, body {background: #181818; font-family: 'Lato', helvetica, arial, sans-serif; font-size: 16px; color: #222;}
	
	.clear {clear: both;}
	
	p {
		font-size: 1em;
		line-height: 1.4em;
		margin-bottom: 20px;
		color: #444;
	}
	
	#cv {
		width: 90%;
		max-width: 800px;
		background: #f3f3f3;
		margin: 30px auto;
	}
	
	.mainDetails {
		padding: 25px 35px;
		border-bottom: 2px solid #00d2b5;
		background: white;
	}

	.personal-details{
		font-size: 12px;
		font-weight: bold;
		padding-top: 10px;
	}
	
	
	#name h1 {
		font-size: 2.5em;
		font-weight: 700;
		font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
		margin-bottom: -6px;
	}
	
	#name h2 {
		font-size: 2em;
		margin-left: 2px;
		font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
	}
	
	#mainArea {
		padding: 0 40px;
	}
	

	
	#headshot {
		width: 12.5%;
		float: left;
		margin-right: 30px;
	}
	
	#headshot img {
		/* width: 100%; */
		width: 137px;
		height: auto;
		-webkit-border-radius: 50px;
		border-radius: 15px;
	}
	.bar-design{
		height: 100px;
		

	}
	
	   .navbar2{
		margin-top: 7px;
		padding-bottom: 10px;
	   }
		
	   table, td, th {
		border: 0px;
	  }
	  
	  table {
		border-collapse: collapse;
		width: 100%;
	  }
	  
	  th{
	  font-weight:500;
	  color: #00d2b5;
	  font-size: 1em;
	  }

	  /* condetnt */
	  .work{
		background-color: white;
	}
	  div.heading{
		  color: #00d2b5;
		  font-size:25px;
		  font-weight: bold;
		  padding-top: 37px;
		  margin-left: 41px
		  
	  }
	  .title{
		  padding-top: 10px;
		  margin-left: 42px;
		  font-weight: bold;
		  font-size: 20px;
		  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	  }
	  .sub-title{
		/* padding-top: 10px; */
		margin-left: 42px;
		font-weight: 500;
		font-size: 20px;
		font-family: Arial, Helvetica, sans-serif;
	  }
	  .dates{
		padding-top: 5px;
		margin-left: 42px;
		font-weight: bold;
		font-size: 10px;
		color: darkgrey;
		font-style: italic;
	  }
	  .dots{
		padding-top: 10px;
		margin-left: 50px;
		line-height: 1.6;
		font-size: 14px;
		font-family: sans-serif;
		padding-left: 15px;
		padding-bottom: 30px;
	}
	
	

	  ul {
		list-style: none;
	  }

	  ul li::before {
		content: "\2022";
		color: #00d2b5;
		width: 5em;
		margin-left: -1em;
		font-weight: bold;
		display: inline-block;
		position: absolute;
		font-size: 1.8em;
		margin-top: -0.3em;
		 
	  }
	


	

	
	
	
	
	
